:root{
    --primary-color: #222831;
    --secondary-color: #31363F;
    --font-color: #76ABAE;
    --background: #EEEEEE;
}

*{
    margin: 0;
    padding: 0;
}

.app-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.container__sidebar{
    padding: 20px 10px;
    width: 200px;
    background: var(--primary-color);
    box-shadow: 8px 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar__imageContainer{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: white;
}

.sidebar__imageContainer img{
    width: 110px;
}

.sidebar__list{
    margin-top: 20px;
}

.sidebar__list .list__item{
    text-align: center;
}

.sidebar__list .list__item a{
    text-decoration: none;
    color: var(--font-color);
}

.container__main{
    width: 100%;
    background-color: var(--background);
    z-index: -1;
    padding: 20px;
}